<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatmap.arc.mapper.bak.TResultStrMapper">

    <select id="getAllTableName" resultType="java.lang.String">
        select concat(table_schema, '_', table_name)
        from information_schema.tables where table_schema not in ('pg_catalog', 'information_schema');
    </select>

    <select id="getAllCTID" resultType="java.lang.String">
        SELECT CTID FROM ${tableName}
    </select>

    <select id="getAllSrid" resultType="java.lang.String">
        SELECT SRID FROM ${tableName}
    </select>


</mapper>